@font-face {
  font-family: mmedium;
  src: url(../fonts/Montserrat-Medium.otf);
}
@font-face {
  font-family: msemibold;
  src: url(../fonts/Montserrat-SemiBold.otf);
}
@font-face {
  font-family: mbold;
  src: url(../fonts/Montserrat-bold.otf);
}
.navbar {
	padding : 0px 180px !important;
}
.nav-item {
	padding-right: 30px;
}
.nav-item img {
	width: 250px;
}	
.nav-item .nav-link {
	text-decoration: none;
	color : white;
	font-family: msemibold;
	font-size: 12px;
}
.metalfabrication {
	background-image: url('../img/metalfabrication.jpg');
}
.metalstamping { 
	background-image: url('../img/metalstamping.jpg');
}
.cncpressbrake {
	background-image: url('../img/cncpressbrake.jpg');
}
.metalequipment {
	background-image: url('../img/metalequipment.jpg');
}
.steelpole {
	background-image: url('../img/steelpole.jpg');
}
.rubberfabrication {
	background-image: url('../img/rubberfabrication.jpg');
}
.fiberlasercutting {
	background-image: url('../img/fiberlasercutting.jpg');
}
.carousel-fade .carousel-item .img {
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}
.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}
.fa-bars {
	color: white;
}
.navbar-toggler:focus, .navbar-toggler:active {
	outline: none;
	box-shadow: none;
}
h5 {
	font-family: msemibold !important;
	color : #1d1c1c !important;
	font-size: 20px !important;
}
.services {
	background-color: #f5f5f5;
	padding: 30px 180px !important;
	overflow-x: hidden;
}
.serviceimg {
	width: 100px;
}
.service-item p {
	font-family: mmedium;
	color : #1d1c1c;
	font-size: 15px;
}
.products {
	padding: 30px 180px !important;
	overflow-x: hidden;
}
.productsitem {
	padding-right : 5px !important;
}
.productsitem a {
	font-family : msemibold !important;
	color : #1d1c1c !important;
	font-size : 10px !important;	
}
.aboutus {
	padding: 30px 180px !important;
	overflow-x: hidden;
	background-image: url('../img/aboutus.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.aboutus h5, .contactus h5 {
	color : white !important;
}
.aboutusinfo p {
	text-indent: 100px;
}
.aboutus p , .contactus p{
	font-family: mmedium;
	font-size: 10px;
	color : white;
}
.fa-phone-alt, .fa-mobile-alt, .fa-envelope, .fa-map-marker-alt {
	color : #bc0000 !important;
	font-size: 19px !important;
}
.contactli {
	font-family: msemibold !important;
	font-size: 10px !important;
	color : white;
	list-style-type: none;
}
.contactli li {
	margin: 5px;
}
.contactus {
	padding: 30px 180px 0px !important;
	overflow-x: hidden;
	background-image: url('../img/footer.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.clients {
	padding: 30px 180px !important;
	overflow-x: hidden;
}
.clientsimages {
	width: 100px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color : transparent !important;
	border-bottom : 2px solid #bc0000;
}
.nav-pills .nav-link {
    border-radius: 0 !important;
}
.thumb-content h4 {
	font-family : msemibold !important;
	color : #514444 !important;
	font-size : 13px !important;
	padding-bottom : 40px;
}
.carousel-product {
	margin: 10px auto;
	padding: 0 70px;
}
.carousel-product .item {
	color: #747d89;
	min-height: 325px;
    text-align: center;
	overflow: hidden;
}
.carousel-product .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel-product .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel-product .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel-product .item h4 {
	font-size: 18px;
}
.carousel-product .item h4, .carousel-product .item p, .carousel-product .item ul {
	margin-bottom: 5px;
}
.carousel-product .thumb-content .btn {
	color: #bc0000;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #bc0000;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}
.carousel-product .thumb-content .btn:hover, .carousel-product .thumb-content .btn:focus {
	color: #fff;
	background: #bc0000;
	box-shadow: none;
}
.carousel-product .thumb-content .btn i {
	font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}
.carousel-product .carousel-control {
	height: 44px;
	width: 40px;
	background: #bc0000;	
    margin: auto 0;
    border-radius: 4px;
	opacity: 0.8;
}
.carousel-product .carousel-control:hover {
	background: #bc0000;
	opacity: 1;
}
.carousel-product .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
	text-shadow: none;
    font-weight: bold;
}
.carousel-product .carousel-control.left i {
	margin-left: -2px;
}
.carousel-product .carousel-control.right i {
	margin-right: -4px;
}
.carousel-product .carousel-indicators li, .carousel-product .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: #bc0000;
}
.fa-facebook-square {
	color : #3c5a99 !important;
	font-size: 40px;
}
.safari {
  background-attachment: scroll;
}
@media (max-width: 575.98px) { 
	.mainImg {
		height: 360px !important;
		padding: 0 !important;
	}
	.mainThumb {
		height: 300px !important;
	}
	.imgBox {
		height: 300px !important;
	}
	.imgBox img {
		bottom: 50% !important;
	}
	.contactus , .services, .aboutus, .products, .clients {
		padding: 30px 30px !important;
	}
	.navbar {
		padding : 0px 30px !important;
	}
	.navbar-brand img {
		width: 80px;
		height: 50px;
	}
	.aboutusinfo p {
		text-indent: 0px;
	}
	.metalfabrication {
		background-image: url('../img/metalfabricationsmall.jpg');
	}
	.metalstamping {
		background-image: url('../img/metalstampingsmall.jpg');
	}
	.cncpressbrake {
		background-image: url('../img/cncpressbrakesmall.jpg');
	}
	.metalequipment {
		background-image: url('../img/metalequipmentsmall.jpg');
	}
	.steelpole {
		background-image: url('../img/steelpolesmall.jpg');
	}
	.rubberfabrication {
		background-image: url('../img/rubberfabricationsmall.jpg');
	}
	.fiberlasercutting {
		background-image: url('../img/fiberlasercuttingsmall.jpg');
	}
}
@media (min-width: 992px) and (max-width: 1199.98px) {
	.navbar {
		padding : 0px 50px !important;
	}
	.nav-item {
		padding-right: 10px;
	}
}
@media (min-width: 768px) and (max-width: 991.98px) {
	.navbar {
		padding : 0px 30px !important;
	}
	.products {
		padding: 30px 30px !important;
	}
}